<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Course Information</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <meta charset="ISO-8859-1">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center bold font-weight-bold mb-4">Course Information</h1>
        <form  th:object="${instructor}">
            <div class="mb-3">
                <label for="instructorName" class="form-label">Instructor Name</label>
                <input type="text"  th:field="*{userName}" class="form-control" id="instructorName" readonly >
            </div>
        </form>
        <form th:action="@{/dashboard/enroll}" th:object="${course}" method="post">


            <input type="hidden"  th:field="*{id}" class="form-control" id="id" >



            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text"  th:field="*{title}" class="form-control" id="title" readonly >
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" th:field="*{price}" class="form-control" id="price" readonly>
            </div>

            <div class="col-md-12 form-group">
                <label class="mt-2 heading_font font_sub_heading_color">Description</label>
                <textarea type="text" rows="4" id="content" placeholder="Content" class="form-control"
                              th:field="*{description}" autocomplete="off" readonly></textarea>
            </div>

            <br>

            <button type="submit" class="btn btn-primary" name="action" value="enroll" th:disabled="${enrollEnable}">Enroll</button>
            <button type="submit" class="btn btn-primary" name="action" value="back" >back</button>

        </form>
    </div>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</html>